.bar {
  height: auto;
  background-color: var(--white);
  color: var(--black);
  display: flex;
  align-items: center;
  width: 1000%;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

.bar__text {
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2rem;
  animation: slide-left 30s linear infinite;
}

@keyframes slide-left {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
