.first {
  display: flex;
  background-color: var(--first-bg);
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 8rem 0 10rem;
  border-top: 2px solid var(--white);
}

.first__text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 80%;
}

.first__text {
  font-size: 6vw;
  width: 100%;
  text-transform: uppercase;
  font-family: var(--fontc);
  line-height: 1.3;
}

.first__img-box {
  width: 55%;
}

.first__img {
  max-width: 100%;
}
