.team__box {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-top: 2.4rem;
}

.team__name {
  font-size: 4rem;
}

.team__role {
  font-size: 2.2rem;
}

.team__text {
  font-size: 1.4rem;
}

.team__img-box {
  height: 20vw;
  width: 16vw;
}

.team__img {
  width: 100%;
  height: 100%;
  filter: grayscale(0.9);
  object-fit: contain;
  top: 0;
}

.team__item {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 1rem 2rem 0 2rem;
  transition: all 0.4s;
}

.team__item:hover {
  background-color: var(--dark-grey);
  -webkit-box-shadow: inset 0px 0px 0px 1px var(--white);
  -moz-box-shadow: inset 0px 0px 0px 1px var(--white);
  box-shadow: inset 0px 0px 0px 1px var(--white);
  transform: scale(1.05);
  border-radius: 3px;
}

.no-pad {
  padding: 6rem 0;
}

.fix-padding {
  padding-left: 8rem;
}
